/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: 'Verdana', sans-serif;
}


/* Background image */
body {
    background-color: #111; /* Fallback background color */
    background: no-repeat center center fixed;
    background-size: cover;
}


/* Overlay to enhance text readability */
.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


/* Wrapper to contain the logo and main content */
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}


/* Logo */
.logo {
    margin-top: 50px;
    cursor: pointer;
}
.logo svg {
    height: auto;
    display: block;
    max-width: 256px;
    margin: 0 auto;
    user-select: none;
}


/* Container for the main content */
.container {
    color: #333;
    padding: 20px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}


/* Navigation buttons */
nav {
    margin-bottom: 20px;
}
nav button {
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background: #efefef;
    color: #333;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
}
nav button:hover {
    background: #fff;
}


/* Content area */
.content {
    max-width: 1000px;
    background: #efefef;
    color: #333;
    padding: 25px;
    border-radius: 5px;
    text-align: left;
}
.content h1 {
  text-align: center;
}
.content ul li {
    list-style: none;
}
.content button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background: #efefef;
    color: #333;
    border: 1px solid #777;
    border-radius: 5px;
}
.content button:hover {
    background: #fff;
}


/* Footer styles */
.footer {
    text-align: center;
    position: relative;
    color: #fefefe;
    z-index: 1;
    padding: 10px;
    margin-top: 0 auto;
}
.footer a {
    color: #fefefe;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
    text-decoration: underline;
}


/* Adjustments for mobile responsiveness */
@media (max-width: 600px) {
    .logo {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    nav button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
    .content {
        padding: 15px;
    }
    .footer {
        padding: 8px;
        font-size: 0.9em;
    }
}

/* Styles for widescreen/desktops */
@media (min-width: 768px) {
    .wrapper {
        align-items: center;
    }
    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        margin-top: 0;
    }
    .logo svg {
        margin: 0;
        max-width: 200px;
    }
    .container {
        min-height: 100vh;
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
}
